body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

#matrix-container {
    text-align: center;
    margin-bottom: 20px;
}

input[type="number"] {
    width: 50px;
}

button {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

#resultado {
    text-align: center;
    margin-top: 20px;
}
